@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {

    --blue: #0a70ec;
    --blue-light: #7eb2f1;
    --white: #fff;
    --black: #000;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 270px;
    gap: 7rem;
    padding-left: 2.2rem;
    overflow-x: hidden;
    background-color: var(--blue-light);
}

#sidebar .brand {
    display: flex;
    align-items: center;
    color: var(--blue);
    font-weight: 500;
    font-size: 1.5rem;
}

#sidebar .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    margin-right: 2.2rem;
}

#sidebar .menu li {
    padding: 0.6rem;
}

#sidebar .menu li:hover {
    border-radius: 0.625rem 0 0 0.625rem;
    background-color: var(--white);
    cursor: pointer;
}

#sidebar .menu li a {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--black);
}


.hidden {
    display: none;
}

#content {
    display: flex;
    align-items: center;
    width: calc(100vw - 270px);
    height: 100vh;
    padding-right: 1rem;
    background-color: var(--blue-light);
}

#content main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 90%;
    padding: 1.4rem 1rem;
    border-radius: 10px;
    background-color: var(--white);
}

#content main h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500;
}

#content main .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
}

#content main .cards .card {
    position: relative;
    height: 22rem;
    width: calc((100vw - 270px - 6rem)/4);
    border-radius: 10px;
    background: var(--white);
    border: 1px solid var(--blue-light);
    box-shadow: 4px 4px 16px rgba(1, 52, 94, 0.637)
}

#content main .cards .card .image {
    height: 90%;
    border-radius: 10px;
    background-image: url(../storage/images/rolexCosmographDaytona.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#content main .cards .card .card__footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    padding: 0.8rem;
    border-radius: 10px;
    background: var(--white);
    border: 1px solid var(--blue-light);
}

#content main .cards .card .card__footer .product-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

#content .card .card__footer .product-name h3,
p {
    font-size: 0.9rem;
    font-weight: 400;
}

#content .card .price-add {
    display: flex;
    align-items: flex-end;
}

#content .card .price-add p {
    font-size: 0.8rem;
}

#content .card .price-add button {
    padding: 2px 7px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue-light);
}